<!DOCTYPE html>
<html>
  <head>
    <title>GeneratePdf</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "border: 3px solid blue; border-bottom: 10px solid blue;">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'layouts/navbar' %>
    <% if @invoice.present? %>
      <%= render "layouts/header" %>
    <% end %>
    <%= yield %>
  </body>
</html>
